.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.header,
.tableRow {
  display: grid;
  grid-template-columns: 0.09fr 0.29fr 0.06fr 0.068fr 0.11fr 0.068fr 0.294fr 0.02fr;
  gap: var(--spacing-md);
}

.headerCell {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-extra-md);
  font-weight: 500;
}

.tableRow {
  gap: calc(var(--spacing-lg) - 2px);
  position: relative;
}

.tableRowArrow {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
}

.tableCell {
  width: 100%;
  padding: var(--spacing-sm) calc(var(--spacing-xs) * 3);
  font-size: var(--font-size-md);
  border: 1px solid var(--main-extra-light-blue);
  border-radius: calc(var(--spacing-lg) - 2px);
}

.tableCellIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
