.boxContainer {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  padding-inline: var(--spacing-7xl);
}

.sidebar {
  flex: 0.15;
}

.content {
  flex: 0.85;
}
