.sidebar {
  flex: 0.15;
  padding-block: var(--spacing-2xl);
  padding-right: var(--spacing-3xl);
  padding-left: var(--spacing-7xl);
  box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 100px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

@media only screen and (max-width: 1124px) {
  .sidebar {
    padding-right: var(--spacing-2xl);
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.sidebar::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl);
}

.header {
  padding-bottom: var(--spacing-lg);
  border-bottom: 2px solid var(--main-light-blue);
}

.headerText {
  font-size: var(--font-size-2xl);
  font-weight: 500;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  position: relative;
}

@media only screen and (max-width: 1124px) {
  .menuItem {
    gap: var(--spacing-lg);
  }
}

.menuItem.active .statusPoint {
  display: block;
}

.menuItemText {
  font-size: var(--font-size-lg);
  font-weight: 500;
  opacity: 80%;
}

@media only screen and (max-width: 1124px) {
  .menuItemText {
    font-size: var(--font-size-extra-md);
  }
}

.menuItemText.inactive {
  opacity: 40%;
}

.menuItemIcon {
  flex-shrink: 0;
}

@media only screen and (max-width: 1124px) {
  .menuItemIcon {
    --icon-size: 18px;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.statusPoint {
  --point-size: 12px;
  display: none;
  width: var(--point-size);
  height: var(--point-size);
  border-radius: 50%;
  background-color: var(--main-dark-green);
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1124px) {
  .statusPoint {
    --point-size: 10px;
  }
}
