.searchBox {
  width: 100%;
  max-width: 260px;
  position: relative;
}

.searchInput {
  width: 100%;
  color: var(--main-dark-gray);
  padding: var(--spacing-sm) calc(var(--spacing-md) + 2px);
  border: 1px solid var(--main-gray);
  border-radius: var(--spacing-lg);
}

@media only screen and (max-width: 1024px) {
  .searchInput {
    border-radius: var(--spacing-xl);
  }
}

@media only screen and (max-width: 672px) {
  .searchBox {
    max-width: 100%;
  }

  .searchInput {
    padding-block: calc(var(--spacing-sm) + 2px);
  }
}

.searchInput::placeholder {
  color: var(--main-dark-gray);
}

.searchIcon {
  color: var(--main-cyan);
  position: absolute;
  right: calc(var(--spacing-md) + 2px);
  top: 50%;
  transform: translateY(-50%);
}
