:root {
  --font-open-sans: 'Open Sans', monospace, sans-serif;

  --font-size-sm: 0.625rem; /* 10px */
  --font-size-base: 0.75rem; /* 12px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-extra-md: 0.9375rem; /* 15px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
  --font-size-2xl: 1.25rem; /* 20px */

  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 28px;
  --spacing-5xl: 32px;
  --spacing-6xl: 36px;
  --spacing-7xl: 40px;
  --spacing-8xl: 48px;

  --main-white: #ffffff;
  --main-black: #000000;
  --main-dark-blue: #0f7ee9;
  --main-light-blue: #4dadf2;
  --main-extra-light-blue: #95c6e8;
  --main-cyan: #6ee6e6;
  --main-dark-green: #03d029;
  --main-light-green: #2bce49;
  --main-gray: #ececec;
  --main-dark-gray: #bababa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-open-sans);
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'width' 100;
  overflow-x: hidden;
}

*:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  font-family: var(--font-open-sans);
}

button,
input,
select {
  outline: none;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
