.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxContainer {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1580px;
}

.content {
  flex: 0.85;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-block: var(--spacing-2xl);
  padding-inline: calc(var(--spacing-7xl) * 2);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

@media only screen and (max-width: 1024px) {
  .content {
    height: calc(100vh - 72px);
  }
}

.content::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

@media only screen and (max-width: 1500px) {
  .content {
    padding-left: calc(var(--spacing-7xl) + var(--spacing-lg));
    padding-right: var(--spacing-7xl);
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    flex: 1;
    padding-left: var(--spacing-7xl);
  }
}
