.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxContainer {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 1540px;
  padding-inline: var(--spacing-7xl);
}

.content {
  flex: 0.85;
  padding-block: var(--spacing-2xl);
  padding-left: calc(var(--spacing-7xl) * 2);
  padding-right: var(--spacing-7xl);
}
