.header {
  gap: var(--spacing-md);
}

.headerCell {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-extra-md);
  font-weight: 500;
}

@media only screen and (max-width: 1300px) {
  .headerCell[name='description'] {
    display: none;
  }
}

@media only screen and (max-width: 1124px) {
  .headerCell[name='inPrice'] {
    display: none;
  }
}
