.tableRow {
  gap: calc(var(--spacing-lg) - 2px);
  position: relative;
}

.tableRow.active .tableRowArrow {
  display: block;
}

.tableRowArrow {
  display: none;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
}

@media only screen and (max-width: 1024px) {
  .tableRowArrow {
    left: -10px;
  }
}

.tableCell {
  width: 100%;
  padding: var(--spacing-sm) calc(var(--spacing-xs) * 3);
  font-size: var(--font-size-md);
  font-weight: 500;
  border: 1px solid var(--main-extra-light-blue);
  border-radius: calc(var(--spacing-lg) - 2px);
}

@media only screen and (max-width: 1300px) {
  .tableCell[name='description'] {
    display: none;
  }
}

@media only screen and (max-width: 1124px) {
  .tableCell[name='inPrice'] {
    display: none;
  }
}

.tableCell[name='unitPlaceholder'] {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .tableCell {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--spacing-xl);
  }

  .tableCell[name='unit'] {
    display: none;
  }

  .tableCell[name='unitPlaceholder'] {
    display: block;
  }
}

.tableCellIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-dark-blue);
  cursor: pointer;
}
