.tableRow {
  position: relative;
}

.tableRow.active .tableRowArrow {
  display: block;
}

.tableRowArrow {
  display: none;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
}

@media only screen and (max-width: 1024px) {
  .tableRowArrow {
    left: -10px;
  }
}

@media only screen and (max-width: 480px) {
  .tableRowArrow {
    left: -6px;
  }
}

.tableCell {
  width: 100%;
  padding: var(--spacing-sm) calc(var(--spacing-xs) * 3);
  font-size: var(--font-size-md);
  font-weight: 500;
  border: 1px solid var(--main-extra-light-blue);
  border-radius: calc(var(--spacing-lg) - var(--spacing-xs));
}

@media only screen and (max-width: 1300px) {
  .tableCell[data-field='description'] {
    display: none;
  }
}

@media only screen and (max-width: 1124px) {
  .tableCell[data-field='inPrice'] {
    display: none;
  }
}

.tableCell[data-field='unitPlaceholder'] {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .tableCell {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--spacing-xl);
  }

  .tableCell[data-field='unit'] {
    display: none;
  }

  .tableCell[data-field='unitPlaceholder'] {
    display: block;
  }
}

@media only screen and (max-width: 672px) {
  .tableCell {
    padding-inline: var(--spacing-2xl);
  }

  .tableCell[data-field='articleNo'] {
    display: none;
  }

  .tableCell[data-field='price'] {
    text-align: center;
  }

  .tableCell[data-field='inStock'] {
    display: none;
  }

  .tableCell[data-field='unitPlaceholder'] {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .tableCell {
    padding-inline: var(--spacing-md);
  }
}

.tableCellIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-dark-blue);
  cursor: pointer;
}
